body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: blue;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;

}

.f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.f-info-socials i{
    margin-right: 1rem;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration:none ;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    
}

/* edit */
.edit-btn{
    margin-bottom: 1rem;
    background-color: #fe424d !important;
    border: none !important;
}

/* show */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: ;
}

/* review card */

